__pycache__/
*.pyc
ml_modelling/cache/
ml_modelling/catboost_info/
submission*.csv
.venv/
.ipynb_checkpoints/
kuairand-starter-kit/KuaiRand-1K/
kuairand-starter-kit/KuaiRand-1K.tar.gz
kuairand-starter-kit/KuaiRand-27K/
kuairand-starter-kit/KuaiRand-27K.tar.gz
kuairand-starter-kit/KuaiRand-Pure/
kuairand-starter-kit/KuaiRand-Pure.tar.gz
